BucketIndex Partition Size:
---------------------------
{{ nvme_bucket_index_size | to_yaml }}

LSBLK output:
-------------
{{ lsblk_out.stdout_lines | to_yaml }}

LVS output:
-----------
{{ lvs_out.stdout_lines | to_yaml }}
